.navbar{
  background-color: rgb(54,144,171);
  height: 10vh;
  width: 100%;
  display: flex;
  color: white;
  opacity: 0.9;
}

.navbar .logo{
  border-radius: 25px;
}

.logo{
  height:10vh;
  width:"128"
}

.navbar h1{
  margin: 0 auto;
  padding-top: 16px;
}

.dashboard {
  background-image: url('./assets/office.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard .container {
  width: 600px;
  height: 200px;
  background-color: rgb(54,144,171);
  opacity: 0.5;
  border-radius: 25px;
  margin: 0 10px;
  transition: 0.5s;
}

.dashboard .container:hover{
  background-color: white;
  opacity: 0.8;
  transition: 0.5s;
}

.dashboard .container h4{
  margin: 6vh 4vh;
}
.link-dashboard {
  text-align: center;
  margin: 4vh 4vh;
}
.link-dashboard .link-text{
  text-decoration: none;

}
